<div class="inventory-component">
        <button class="btn open-inventory" (click)="openInventory()">Inventário</button>
        <div *ngIf="inventoryIsOpen">
            <div class="dark-overlay" (click)="closeInventory()"></div>
            <div class="inventory-screen">
                <div class="container-fluid">
                    <div class="row">
                        <div (click)="closeInventory()" class="close-button">
                            <i class="fa fa-times"></i>
                        </div>
                        <div *ngFor="let hero of heroParty" class="col p-3 hero-tab" [class.selected]="selectedHero === hero" (click)="setSelectedHero(hero)">
                            <h2 class="text-center">
                                {{hero.name}}
                            </h2>
                        </div>
                        <div *ngIf="heroParty.length < 3 && availableHeroes.length && !isFighting" class="col-2 add-hero" (click)="showAvailableHeroes()">
                            <i class="fa fa-times"></i>
                        </div>>
                    </div>
                    <div *ngIf="showAvailableHeroesScreen" class="row available-heroes-screen h-100">
                        <div class="col-4 p3 text-center" *ngFor="let hero of availableHeroes">
                            <img [src]="hero.spriteUrl" [alt]="hero.name" class="img-fluid mb-3" />
                            <h5>{{hero.name}} - {{hero.characterRole}} - Nível {{hero.level}}</h5>
                            <div class="row">
                                <div class="col skill d-flex flex-column">
                                    <h6>Ataque</h6>
                                    <p>{{hero.skills.attack}}</p>
                                </div>
                                <div class="col skill d-flex flex-column">
                                    <h6>Furtividade</h6>
                                    <p>{{hero.skills.sneak}}</p>
                                </div>
                                <div class="col skill d-flex flex-column">
                                    <h6>Persuasão</h6>
                                    <p>{{hero.skills.persuade}}</p>
                                </div>
                                <div class="col skill d-flex flex-column">
                                    <h6>Inteligência</h6>
                                    <p>{{hero.skills.intelligence}}</p>
                                </div>
                            </div>
                            <button class="btn" (click)="addHeroToParty(hero)">Adicionar ao Grupo</button>
                        </div>
                    </div>
                    <div *ngIf="!showAvailableHeroesScreen" class="row">
                        <div class="col-4 p-3 text-center">
                            <img [src]="selectedHero.spriteUrl" [alt]="selectedHero.name" class="img-fluid mb-3"/>
                            <h5>{{selectedHero.name}} - {{selectedHero.characterRole}} - Nível {{selectedHero.level}}</h5>
                            <div class="row">
                                <div class="col skill d-flex flex-column">
                                    <h6>Ataque</h6>
                                    <p>{{selectedHero.skills.attack}}</p>
                                    <p *ngIf="selectedHero.availableSkillPoints" class="improve-skill" (click)="improveSkill(_characterSkills.attack)"><i class="fa fa-plus"></i></p>
                                </div>
                                <div class="col skill d-flex flex-column">
                                    <h6>Furtividade</h6>
                                    <p>{{selectedHero.skills.sneak}}</p>
                                    <p *ngIf="selectedHero.availableSkillPoints" class="improve-skill" (click)="improveSkill(_characterSkills.sneak)"><i class="fa fa-plus"></i></p>
                                </div>
                                <div class="col skill d-flex flex-column">
                                    <h6>Persuasão</h6>
                                    <p>{{selectedHero.skills.persuade}}</p>
                                    <p *ngIf="selectedHero.availableSkillPoints" class="improve-skill" (click)="improveSkill(_characterSkills.persuade)"><i class="fa fa-plus"></i></p>
                                </div>
                                <div class="col skill d-flex flex-column">
                                    <h6>Inteligência</h6>
                                    <p>{{selectedHero.skills.intelligence}}</p>
                                    <p *ngIf="selectedHero.availableSkillPoints" class="improve-skill" (click)="improveSkill(_characterSkills.intelligence)"><i class="fa fa-plus"></i></p>
                                </div>    
                            </div>
                            <h6 *ngIf="selectedHero.availableSkillPoints">Pontos Disponíveis: {{selectedHero.availableSkillPoints}}</h6>
                            <h6 *ngIf="!selectedHero.availableSkillPoints">Experiência: {{selectedHero.experience}}/{{_experienceToLevel[selectedHero.level]}} </h6>
                        </div>
                        <div class="col-4 p-3 text-center d-flex flex-column">
                            <h3 class="mb-5">Itens Equipados</h3>
                            <h6>Arma: </h6>
                            <p class="mb-5">{{selectedHero.equippedWeapon.name}} -- Dano Mínimo: {{selectedHero.equippedWeapon.minDamage}}, Dano Máximo: {{selectedHero.equippedWeapon.maxDamage}} </p>
                            <h6>Armadura: </h6>
                            <p class="mb-5">{{selectedHero.equippedArmor.name}} -- Bônus de Defesa: {{selectedHero.equippedArmor.attackArmorBonus}} </p>
                            <h3 class="mb-3">Remover Personagem do Grupo</h3>
                            <p *ngIf="selectedHero === mainCharacter">
                                Você não pode remover o personagem principal do grupo!
                            </p>
                            <button *ngIf="selectedHero !== mainCharacter" class="btn btn-danger remove-character" (click)="removeCharacterFromParty()">Remover</button>                        
                        </div>
                        <div class="col-4 p-3 text-center d-flex flex-column">
                            <h3>Items do Grupo</h3>
                            <div class="inventory-display">
                                <div *ngFor="let item of inventory" class="item p-3">
                                    <h6 class="text-left mb-3">
                                        {{item.name}}
                                        <span *ngIf="item.minDamage"> -- Arma -- Dano Mínimo: {{item.minDamage}} -- Dano Máximo: {{item.maxDamage}} </span>
                                        <span *ngIf="item.attackArmorBonus"> -- Armadura -- Bônus de Defesa: {{item.attackArmorBonus}} </span>
                                    </h6>
                                    <button *ngIf="!isFighting" class="btn equip-button" (click)="equipItem(item)">Equipar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>